@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Josefin+Slab%7CQuicksand&display=swap");
@keyframes rotate-diamond {
  0% {
    color: rgba(0, 59, 102, 0.7);
  }
  25% {
    color: #0d72a1;
  }
  50% {
    color: rgba(187, 145, 108, 0.5);
  }
  75% {
    color: white;
  }
  100% {
    color: rgba(0, 59, 102, 0.7);
    transform: rotate(360deg);
    transform-origin: 30% 30%;
  }
}
body {
  width: 100%;
  display: flex;
  background-color: rgba(0, 59, 102, 0.7);
}

ul {
  margin: 2%;
  padding: 0px;
  list-style-type: none;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
}
a:visited {
  color: rgba(187, 145, 108, 0.5);
}
a:link {
  color: #d4b95e;
}

.intro {
  background-color: white;
  font-size: 16px;
  position: relative;
}
.intro header h2 {
  color: #0d72a1;
}

h1 {
  font-size: 4em;
  background-color: rgba(0, 59, 102, 0.7);
  color: white;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  padding: 5px;
}

h2 {
  font-size: 3em;
  color: rgba(0, 59, 102, 0.7);
  font-family: "Josefin Slab", serif;
  margin: 5px;
}

h3 {
  font-size: 2em;
  color: white;
  font-family: "Josefin Slab", serif;
  margin: 10px 5px;
}

p {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  margin: 10px 5px;
  padding-right: 5px;
  text-shadow: 2px 2px 2px black;
}

footer {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  padding: 5px 0;
  background-color: rgba(196, 182, 182, 0.2);
  font-size: 1.2em;
}

footer a:visited {
  color: black;
}
footer a:link {
  color: rgba(0, 59, 102, 0.7);
}

[role=article] {
  padding: 5px;
}

#zen-intro {
  background-image: url(snowflake640.jpg);
}

/* Summary & Main Paragraphs */
/* add logo */
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.intro::before {
  content: url(SeasonsLogo-01.svg);
  display: block;
  width: 50%;
  margin: auto;
  animation: spin 16s linear infinite;
}

.summary {
  font-size: 1.2em;
  font-style: italic;
  color: white;
}

.preamble, .participation, .requirements {
  background-color: #0d72a1;
  color: white;
}

.explanation, .benefits {
  background-color: rgba(187, 145, 108, 0.5);
  color: white;
}

.design-archives {
  float: right;
  width: 48%;
  padding-left: 2%;
  background-color: rgba(0, 59, 102, 0.7);
}

.zen-resources {
  float: right;
  width: 48%;
  background-color: rgba(0, 59, 102, 0.7);
  padding-left: 2%;
}

.design-selection {
  float: left;
  width: 48%;
  background-color: rgba(0, 59, 102, 0.7);
  padding-left: 2%;
  color: white;
}

.zen-resources li, .designer-name, .next, .viewall {
  font-family: "Quicksand", sans-serif;
}

.select, .archives, .resources {
  font-size: 1.2em;
  color: white;
}

.design-name, .select, .archives, .resources, abbr {
  text-transform: uppercase;
}

.sidebar {
  padding-top: 2%;
  padding-bottom: 2%;
}

@media only screen and (min-width: 650px) {
  body {
    background-image: url(winter-1891595.svg);
    background-repeat: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: -2;
  }

  .intro::before {
    display: none;
  }

  .page-wrapper {
    display: grid;
    width: 100vw;
    grid-template-columns: 4% 4% 60% 4% 24% 4fr;
    grid-template-rows: auto;
    background-color: rgba(196, 182, 182, 0.2);
    position: relative;
    z-index: 2;
    overflow: hidden;
  }

  .intro {
    grid-column: 3;
    grid-row: 1;
  }

  .supporting {
    grid-column: 3;
    grid-row: 2;
  }

  /* add logo above the sidebar */
  .sidebar::before {
    content: url(SeasonsLogo-01.svg);
    display: block;
    width: 100%;
    animation: spin 16s linear infinite;
    z-index: 2;
  }

  @keyframes spin {
    0% {
      content: url(SeasonsLogo-01.svg);
      transform: rotateX(0);
    }
    25% {
      content: url(SeasonsLogo-01.svg);
    }
    50% {
      content: url(SeasonsLogo-04.svg);
    }
    75% {
      content: url(SeasonsLogo-04.svg);
    }
    100% {
      content: url(SeasonsLogo-04.svg);
      transform: rotateX(360deg);
    }
  }
  .sidebar {
    grid-column: 5;
    grid-row: 1/span 2;
  }

  .design-archives {
    width: 100%;
    grid-column: 5;
    grid-row: 3;
  }

  .zen-resources {
    width: 100%;
    grid-column: 5;
    grid-row: 4;
  }

  /* remove flex styling from large view sidebar items */
  .design-selection {
    width: 100%;
    padding: 0;
  }

  .design-archives, .zen-resources {
    padding: 0;
  }

  /* add diamond shape bullet points */
  .preamble h3::before, .explanation h3::before, .participation h3::before, .benefits h3::before, .requirements h3::before {
    display: inline-block;
    content: "◆";
    color: rgba(0, 59, 102, 0.7);
    width: 1.3em;
    margin-left: -1.3em;
    animation: rotate-diamond 8s linear infinite;
  }
}

/*# sourceMappingURL=style.css.map */
