@import url("https://fonts.googleapis.com/css?family=Josefin+Slab%7CQuicksand&display=swap");
// fonts - partial created for the style guide
$primary-font: 'Quicksand', sans-serif;
$secondary-font: 'Josefin Slab', serif;
// color palette - these colors will be the color swatches of the Colors section
$color-1: rgba(0, 59, 102, .7); // Dark blue #003b66
$color-2: rgba(13, 114, 161, ); // Blue #0d72a1
$color-3: rgba(187, 145, 108, .5); // Tan  #bb916c
$color-4: rgb(0, 0, 0); // black  #000000
$color-5: rgb(255, 255, 255); // White  #ffffff
$color-6: rgba(196, 182, 182, .2); //background color  #c4b6b6
//diamond bullet point variable
$diamond: "\25C6";
//mixin for diamond bullet
@mixin diamond ($display: inline-block, $content: $diamond, $color: $color-1, $width: 1.3em, $margin-left: -1.3em) {
  display: $display;
  content: $diamond;
  color: $color;
  width: $width;
  margin-left: $margin-left;
  animation: rotate-diamond 8s linear infinite;
}
@keyframes rotate-diamond {
  0% {color: $color-1;}
  25% {
    color: $color-2;
    }
  50% {
    color: $color-3;
    }
  75% {
    color: $color-5;
    }
  100% {
    color: $color-1;
    transform: rotate(360deg);
    transform-origin: 30% 30%;
  }
}
body {
    width: 100%;
    display: flex;
    background-color: $color-1;
   }
   ul {
    margin: 2%;
    padding: 0px;
    list-style-type: none;
   }
   li {
    margin: 10px 0;
   }
   a {
    text-decoration: none;
    &:visited {
        color: $color-3;
    }
    &:link {
        color: #d4b95e;
    }
}
   .intro {
    background-color: $color-5;
    font-size: 16px;
    position: relative;
       header h2 {
           color: $color-2;
       }
   }
   h1 {
    font-size: 4em;
    background-color: $color-1;
    color: $color-5;
    font-family: $primary-font;
    text-transform: uppercase;
    padding: 5px;
   }
   h2 {
    font-size: 3em;
    color: $color-1;
    font-family: $secondary-font;
    margin: 5px;
   }
   h3 {
    font-size: 2em;
    color: $color-5;
    font-family: $secondary-font;
    margin: 10px 5px;
   }
   p {
    font-family: $primary-font;
    font-size: 1em;
    margin: 10px 5px;
    padding-right: 5px;
    text-shadow:2px 2px 2px black;
   }
   footer {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    padding: 5px 0;
    background-color: $color-6;
    font-size: 1.2em;
   }
   footer a {
    &:visited {
      color: $color-4;
    }
    &:link {
      color: $color-1;
    }
} 
   
   [role=article] {
     padding: 5px;
   }

#zen-intro {
     background-image: url(snowflake640.jpg);
   }
   /* Summary & Main Paragraphs */
   /* add logo */
    //keyframe for logo rotation 
@keyframes spin {
  0% {
    
    transform: rotate(0);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

    .intro::before {
    content: url(SeasonsLogo-01.svg);
    display: block;
    width: 50%;
    margin: auto;
    animation: spin 16s linear infinite; 
  } 
   .summary {
    font-size: 1.2em;
    font-style: italic;
    color: $color-5;
   }
   .preamble, .participation, .requirements {
    background-color: $color-2;
    color: $color-5;
   }
   .explanation, .benefits {
    background-color: $color-3;
    color: $color-5;
   }
   //sidebar and bottom
   .design-archives {
    float: right;
    width: 48%;
    padding-left: 2%;
    background-color: $color-1;
   }
   .zen-resources {
    float: right;
    width: 48%;
    background-color: $color-1;
    padding-left: 2%;
   }
   .design-selection {
    float: left;
    width: 48%;
    background-color: $color-1;
    padding-left: 2%;
    color: $color-5;
   }
   .zen-resources li, .designer-name, .next, .viewall {
    font-family: $primary-font;
}
   .select, .archives, .resources {
    font-size: 1.2em;
    color: $color-5;
   }
   .design-name, .select, .archives, .resources, abbr {
    text-transform: uppercase;
  }
  .sidebar {
    padding-top: 2%;
    padding-bottom: 2%;
  }
//setting grid framework using .page-wrapper as the parent container
@media only screen and (min-width: 650px) {
//get rid of flex logo display
    
    body {
        background-image:url(winter-1891595.svg);
        background-repeat: no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: relative;
        z-index: -2;
    }
    .intro::before {
    display: none;
  }
.page-wrapper {
    display: grid;
    width: 100vw;
    grid-template-columns: 4% 4% 60% 4% 24% 4fr;
    grid-template-rows: auto;
    background-color: $color-6;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }
.intro {
    grid-column: 3;
    grid-row: 1;
}
.supporting {
    grid-column: 3;
    grid-row: 2;
  }
  /* add logo above the sidebar */
  .sidebar::before {
    content: url(SeasonsLogo-01.svg);
    display: block;
    width: 100%;
    animation: spin 16s linear infinite;
    z-index: 2;
  }
  @keyframes spin {
    0% {
        content: url(SeasonsLogo-01.svg);
        transform: rotateX(0);
      }
     
      25% {
          content: url(SeasonsLogo-01.svg);
      }
      50% {
          content: url(SeasonsLogo-04.svg);
      }
      75% {
          content: url(SeasonsLogo-04.svg);
      }
      100% {
          content: url(SeasonsLogo-04.svg);
        transform: rotateX(360deg);
      }
  }
.sidebar {
    grid-column: 5;
    grid-row: 1 / span 2;
}
.design-archives {
    width: 100%;
    grid-column: 5;
    grid-row: 3;
  }
  .zen-resources {
    width: 100%;
    grid-column: 5;
    grid-row: 4; 
  } 
  /* remove flex styling from large view sidebar items */
  .design-selection {
    width: 100%;
    padding: 0;
  }
  .design-archives, .zen-resources {
    padding: 0;
  }
  /* add diamond shape bullet points */
  .preamble h3::before, .explanation h3::before, .participation h3::before, .benefits h3::before, .requirements h3::before {
      @include diamond ()
  }
}