.cd-primary-nav li {
    font-style: bold;
    font-size: 1.2em;
    color: $color-3;

}

#navigation .cd-secondary-nav li {
    font-family: $secondary-font;
    font-size: 1.2em;
    color: $color-3;
}