// fonts
$primary-font: 'Quicksand', sans-serif;
$secondary-font: 'Josefin Slab', cursive;

// colors
$color-1: #003b66; // Dark blue
$color-2: #0d72a1; // Blue
$color-3: #bb916c; // Tan
$color-4: #000000; // Black
$color-5: #ffffff; // White